<div th:fragment="cadastro" class="card mt-3 ml-2 mr-2" id="cadastro-form">
    <form th:object="${clienteDto}" class="card-body" th:action="@{/qr-code/novo}" method="POST">

        <div class="form-group">
            <label for="nome">Informe o nome do cliente que está comprando o Ingresso</label>
            <input th:field="*{nome}" class="form-control" th:errorclass="is-invalid" placeholder="nome do cliente" />
            <div th:errors="*{nome}" class="invalid-feedback">
                Erros do nome do nome de usuario
            </div>
        </div>

        <button  class="btn btn-primary" type="submit">Gerar Ingresso</button>
    </form>
</div>
