<div th:fragment class="modal fade plantae-modal" id="modalConfig" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content mt-10" id="confirm-box">
            <div class="modal-body">
                <h3 class="modal-title" style="color: #84312e;">Configurações salvas com sucesso!</h3>
            </div>
            <div class="modal-footer">
                <button v-on:click="home()" class="btn btn-lg plantae-button">Voltar</button>
            </div>
        </div>
    </div>
</div>
