<div th:fragment>
<div  class="modal fade plantae-modal" id="modalIngressoValidado" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content mt-10" id="confirm-box">
            <div class="modal-body">
                <h3 class="modal-title" style="color: #84312e;">Ingresso validado com sucesso!</h3>
                <p class="plantae-text" style="font-size:1.5rem">{{ nomeValidado }}</p>
            </div>
            <div class="modal-footer">
                <button v-on:click="home()" class="btn btn-lg plantae-button">Voltar à lista</button>
            </div>
        </div>
    </div>
</div>

</div>