@charset "UTF-8";
[v-cloak] { display: none; }

body {
	background-color: #FBF3EA !important;
}
.table input[type="text"] {
    margin: 0;
    padding: 0;
}
.logo-container {
	color: #FBF3EA;
	background-color: #AA4E3B;
}

.input-field {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    box-sizing: border-box;
}

#confirm-box {
	background-color: rgb(247, 231, 212);
    text-align: center;
    margin-top: 260px;
    width: 90%;
    margin-left: 5%;
}

.brown-bg {
    background-color:#AA4E3B;
}

.plantae-text {
	color: #84312e;
	font-weight: 600;
}

.plantae-button {
	background-color: #AA4E3B !important;
	color: #FBF3EA !important;
	transition: transform 0.2s;
}

.plantae-button:hover,
.plantae-button:active {
  background-color: #66534b !important;
  transform: scale(1.1);
}

.plantae-form {
    background-color: #f7e7d4 !important;
}

.plantae-field {
    background-color: #FBF3EA !important;
    color: #84312e !important;
    font-weight: 400 !important;
}

.logo {
	font-family: 'Handlee', cursive;
	font-size: 2.5rem
}

.display-4 {
	font-family: 'Handlee', cursive;
}
