@charset "UTF-8";
[v-cloak] { display: none; }

body {
	background-color: #FBF3EA !important;
}
.table input[type="text"] {
    margin: 0;
    padding: 0;
}
.logo-container {
	color: #FBF3EA;
	background-color: #AA4E3B;
}

.input-field {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    box-sizing: border-box;
}

#confirm-box {
	background-color: rgb(247, 231, 212);
    text-align: center;
    margin-top: 260px;
    width: 90%;
    margin-left: 5%;
}

.brown-bg {
    background-color:#AA4E3B;
}

.plantae-text {
	color: #84312e;
	font-weight: 600;
}

.plantae-button {
	background-color: #AA4E3B !important;
	color: #FBF3EA !important;
	transition: transform 0.2s;
}

.plantae-button:hover,
.plantae-button:active {
  background-color: #66534b !important;
  transform: scale(1.1);
}

.plantae-form {
    background-color: #f7e7d4 !important;
}

.plantae-field {
    background-color: #FBF3EA !important;
    color: #84312e !important;
    font-weight: 400 !important;
}

.table-buttons {
	width: 32%;     
    padding-left: 2px !important;
    padding-right: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.btn-table{
	transition: transform 0.15s;
}

.btn-table:hover,
.btn-table:active {
	background-color: #66534b;
    transform: scale(1.1);
}

.logo {
	font-family: 'Handlee', cursive;
	font-size: 2.5rem
}

.display-4 {
	font-family: 'Handlee', cursive;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-content {
   display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
	font-size: 1.5rem;
    text-align: center;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

