<!DOCTYPE html>
<html>
<head>
<div th:replace="~{base :: head('Plantae')}"></div>
<script th:inline="javascript">
	apiEndpoint = /*[[${apiEndpoint}]]*/
	validado = /*[[${validado}]]*/
	nomeValidado = /*[[${nomeValidado}]]*/
	expirado = /*[[${expirado}]]*/
</script>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,700;1,300&family=Merriweather:ital,wght@0,400;0,900;1,300&display=swap" rel="stylesheet">
</head>
<body onload="onLoad()">

    <div th:replace="~{base :: header}"></div>
    <div class="container" id="ingresso" v-cloak>
        <div class="loading" v-if="loading">
            <div class="loading-content">
                <div class="loading-spinner"></div>
                <p class="plantae-text loading-text">
                    {{ loadingMessage }} <br>aguarde...
                </p>
            </div>
        </div>
        <div th:replace="~{formularios/ingresso}"></div>
        <div th:replace="~{tabelas/ingressos}"></div>
        <div th:replace="~{modals/validacao}"></div>
    </div>

    <script type="application/javascript" src="js/main.js"></script>
</body>
</html>