<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div th:replace="~{base :: head('Plantae')}"></div>
<script th:inline="javascript">
	apiEndpoint = /*[[${apiEndpoint}]]*/
</script>
</head>
<body onload="onLoad()">

	<div th:replace="~{base :: header}"}></div>
	<div th:replace="~{homeview}" ></div>
	
	<script type="application/javascript" src="js/main.js"></script>
</body>
</html>