<!doctype html>
<html lang="en">
  <head>
    <div th:replace="~{base :: head('Comprar Convite Plantae')}"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script th:inline="javascript">
    	apiEndpoint = /*[[${apiEndpoint}]]*/
    	remainingTickets = /*[[${remainingTickets}]]*/
	</script>
  </head>
  <body onload="onLoad()">
    <div th:replace="~{base :: header}"></div>
    <div class="container" id="pix">
    <div class="loading" v-if="loading == null">
        <div class="loading-content">
          <div class="loading-spinner"></div>
          <p class="plantae-text loading-text"> <br>Carregando...</p>
        </div>
    </div>
	    <div  class="modal fade" id="modalInstagramDirect" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content mt-6" id="confirm-box">
	                <h3 class="modal-title mt-4" style="color: #84312e;">Instruções</h3>
	            <div class="modal-body" style="text-align: left">
	                 <ol class="plantae-text">
					    <li>Efetue o pagamento do pix em qualquer aplicativo habilitado</li>
					    <a href="https://www.instagram.com/plantae_cozinhavegetal/" class="text-reset">
					    <li><u>Envie para o nosso direct: </u><i class="fas fa-paper-plane"></i></li></a>
					      <ul style="font-size: 0.9rem;  text-align: left;
										    margin-left: -20px;
										    margin-bottom: 10px;
										    margin-top: 5px;
										">
					        <li>O comprovante do pix</li>
					        <li>O nome do titular de cada convite</li>
					        <li>Seu email para envio dos convites</li>
					      </ul>
					    
					    <li>Você receberá seus convites pelo email.</li>
					    <li>No dia do evento, é só apresentá-los na entrada!</li>
					  </ol>
	            </div>
	            <div class="modal-footer" style="justify-content : center">
	                <button data-dismiss="modal" class="btn btn-lg plantae-button">Voltar</button>
	            </div>
	        </div>
	    </div>
	</div>
      <div class="row mt-4" v-cloak>
          	<label for="copy-textarea" class="ml-4 mr-4 plantae-text" style="margin-botton:12px;"> Copie o link do <b>pix copia e cola</b> para comprar sua entrada para o Brunch Vegetal:</label>
        <div class="col-12">
          <div class="input-group">
            <textarea class="form-control" id="copy-textarea" rows="3" readonly v-model="links[quantity-1]"></textarea>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="copy-button"
              data-toggle="tooltip" data-placement="bottom" title="Copiar Link" style="width: 75px">
                <span class="material-icons">
				content_copy
				</span>
              </button>
            </div>
    	</div>
        <div class="input-group mt-2" style="width: 60%; margin-left: 17%">
            <div class="input-group-prepend">
              <button style="min-width: 40px;"
              class="btn btn-outline-secondary" @click="decrease()" type="button" id="minus-button">
                <i v-if="quantity > 1" class="fas fa-minus"></i>
              </button>
            </div>
            <input type="text" class="form-control text-center" v-model="display" readonly
            style="background-color: transparent; color: #84312e; font-weight: 600; font-size: 1.2rem">
            <div class="input-group-append">
              <button style="min-width: 40px;" class="btn btn-outline-secondary" @click="increase()" type="button" id="plus-button">
                <i v-if="quantity < 4"  class="fas fa-plus"></i>
              </button>
            </div>
         </div>
         <input type="text" class="form-control text-center" v-model="displayTotal" readonly 
         style="background-color: transparent; color: #84312e; font-weight: 600; font-size: 1.3rem;
         width: 38%; margin-left: 28%;
         ">
      </div>
      <div v-if="soldOut" >
        <span class="text-danger ml-5">{{soldOutMessage}}</span>
      </div>
    </div>
   <div style="display: flex; justify-content: center; width: 100%" v-cloak>
	<div style="display: flex; flex-direction: column; justify-content: center;  width: 320px; padding: 0; margin: 0;">
		<div style="display: flex; justify-content: center; padding: 0; margin: 0;">
		    <img src="png/plantae-hand-drawn-sm-top.png" style="width: 320px; height: auto; display: block; margin: 0; padding: 0;">
		</div>
		<div style="display: flex; justify-content: center; position: relative; width: 320px; height: 150px;">
			<img v-show="quantity == 1" src="png/plantae-hand-drawn-sm-b1.png" style="position: absolute; width: 100%; height: auto; display: block; margin: 0; padding: 0;">
			<img v-show="quantity == 2" src="png/plantae-hand-drawn-sm-b2.png" style="position: absolute; width: 100%; height: auto; display: block; margin: 0; padding: 0;">
			<img v-show="quantity == 3" src="png/plantae-hand-drawn-sm-b3.png" style="position: absolute; width: 100%; height: auto; display: block; margin: 0; padding: 0;">
			<img v-show="quantity == 4" src="png/plantae-hand-drawn-sm-b4.png" style="position: absolute; width: 100%; height: auto; display: block; margin: 0; padding: 0;">
		</div>
	</div>
</div>

    </div>
	<script type="application/javascript" src="js/pix.js"></script>
  </body>
</html>
