<!doctype html>
<html lang="en">
  <head>
    <div th:replace="~{base :: head('Comprar Convite Plantae')}"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body onload="onLoad()">
    <div th:replace="~{base :: header}"></div>
    <div class="container" id="pix">
      <div class="row mt-4">
          	<label for="copy-textarea" class="ml-4 mr-4 plantae-text"> Copie o link do <b>pix copia e cola</b> para comprar sua entrada para o Brunch Vegetal:</label>
        <div class="col-12">
          <div class="input-group">
            <textarea class="form-control" id="copy-textarea" rows="3" readonly v-model="links[quantity-1]"></textarea>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="copy-button" data-toggle="tooltip" data-placement="bottom" title="Copiar Link" style="width: 75px">
                <span class="material-icons">
				content_copy
				</span>
              </button>
            </div>
    	</div>
        <div class="input-group mt-2" style="width: 60%; margin-left: 17%">
            <div class="input-group-prepend">
              <button v-if="quantity > 1" 
              class="btn btn-outline-secondary" @click="decrease()" type="button" id="minus-button">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <input type="text" class="form-control text-center" v-model="display" readonly
            style="background-color: transparent; color: #84312e; font-weight: 600; font-size: 1.2rem">
            <div class="input-group-append">
              <button v-if="quantity < 4" class="btn btn-outline-secondary" @click="increase()" type="button" id="plus-button">
                <i class="fas fa-plus"></i>
              </button>
            </div>
         </div>
         <input type="text" class="form-control text-center" v-model="displayTotal" readonly 
         style="background-color: transparent; color: #84312e; font-weight: 600; font-size: 1.2rem;
         width: 38%; margin-left: 28%; 
         ">
      </div>
    </div>
      </div>
    </div>
	<script type="application/javascript" src="js/pix.js"></script>
  </body>
</html>
