<!DOCTYPE html>
<html>
<head>
    <div th:replace="~{base :: head('Faça Login')}"></div>
</head>
<body>
    <div th:replace="~{base :: header}"></div>
    <div class="d-flex justify-content-center align-items-center mt-4">
    <div class="card col-10 col-sm-6 col-md-5 plantae-form" id="login-form" style="max-width: 90%; max-width: 600px;">
        <form th:action="@{/login}" class="card-body" method="post">
            <div class="form-group">
                <label for="username" class="plantae-text">Login</label>
                <input name="username" value="plantae" class="form-control plantae-field" placeholder="login" />
            </div>

            <div class="form-group">
                <label for="password" class="plantae-text">Senha</label>
                <div class="input-group">
                    <input name="password" type="password" class="form-control plantae-field" placeholder="senha" id="password-input"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="show-password-btn">👁️</button>
                    </div>
                </div>
            </div>
            <button class="btn plantae-button" type="submit">Login</button>
        </form>
    </div>
     <div style="display: flex; justify-content: center; margin-top: 0px;">
            <img src="https://raw.githubusercontent.com/thomazcm/plantae/master/src/main/resources/static/png/entrance.png"
                 style="min-width: 487px; max-width: 1019px; width: 100%; height: auto;">
        </div>
    </div>


    <script type="application/javascript" src="js/login.js"></script>
</body>
</html>
